.notice__event {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--color-gray);

  .notice__event__date {
    font-size: var(--font-size-s);
    color: var(--color-dark-gray);
    margin-right: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .notice__event__day {
    font-size: var(--font-size-s);
    color: var(--color-dark-gray);
    margin-right: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .notice__event__text {
    font-size: var(--font-size-m);
    color: var(--color-dark);
    margin-right: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}
