@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark: #1E1E1E;
    --color-gray: #D2D2D2;
    --color-light: #EDEDED;
    --color-gray-dark: #939393;
    --color-success: #0C9600;
    --color-warning: #E5CB00;
    --color-danger: #A00202;

    --font-size-sm: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 2rem;
    --font-size-x-lg: 2.5rem;
  }

  .dark {

  }
}

body {
  background: linear-gradient(45deg, #c3c3c3 0%, #ededed 13%, #ededed 80%, #c3c3c3 99%);
  height: 100vh;
  width: 100vw;
  font-size: var(--font-size-md);
}

aside {
  float: left;
  width: 20%;
}

main {
  float: right;
  width: 80%;
  padding: 2rem;
  overflow-x: auto;
}